<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">
  <xacro:arg name="gpu" default="false"/>
  <xacro:property name="gpu" value="$(arg gpu)" />


  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <VLP-16 parent="vlp_support_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="${gpu}">
    <origin xyz="0 0 0.05" rpy="0 0 0" />
  </VLP-16>


 <link name="vlp_support_link">
    <inertial>
      <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.003015625" ixy="0.003015625" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.00003125"/>
    </inertial>
    <visual name="">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <cylinder radius="0.05" length="0.1"/>
        </geometry>
      <material name="">
        <color rgba="1.0 0.0 0.0 1.0"/>
        <texture filename=""/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        <geometry>
          <cylinder radius="0.05" length="0.1"/>
        </geometry>
    </collision>
  </link>

  <joint name="vlp_support_joint" type="fixed">
    <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
    <parent link="top_plate_link"/>
    <child link="vlp_support_link"/>
    <axis xyz="0.0 0.0 0.0"/>
    <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
  </joint>

  <gazebo reference="Camera">
        <sensor name='camera' type='camera'>
        <camera name='__default__'>
         <horizontal_fov>1.047</horizontal_fov>
         <image>
           <width>1280</width>
           <height>720</height>
         </image>
         <clip>
           <near>0.1</near>
           <far>100</far>
         </clip>
       </camera>
        <plugin name="light_sensor_plugin" filename="libgazebo_light_sensor_plugin.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>10</updateRate>
          <cameraName>diff/camera_top</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>Camera</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
   
    <link name="Camera">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://opencv/meshes/camera.stl"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://opencv/meshes/camera.stl"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.002"/>
        <inertia ixx="1.397e-7" ixy="0" ixz="-2.070e-12" iyy="1.512e-7" iyz="1.844e-9" izz="7.943e-8"/>
      </inertial>
    </link>

    <joint name="base_camera_to_Camera" type="fixed">
      <parent link="top_plate_link"/>
      <child link="Camera"/>
      <origin rpy="0 0 0" xyz="0 0 0.185"/>
    </joint>

</robot>
