<?xml version="1.0"?>
<launch>

<!-- Gazebo -->
  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="urdf_extras" default="$(find challenge_husky)/urdf/attachments.urdf.xacro"/>

<!-- Gazebo Final Map  -->
  <include file="$(find novo_mundo)/launch/gazebo.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

<!-- Custom Spawn  -->
  <include file="$(find challenge_husky)/launch/custom_spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" default="$(arg urdf_extras)"/>
    <arg name="x" default="-4.0"/>
    <arg name="y" default="-18.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="3.1415"/>
  </include>
  
<!-- Pointcloud to laserscan -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/velodyne_points"/>
        <rosparam>
            target_frame: velodyne # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: -0.4
            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>
  </node>
<!-- Rviz -->
  <arg name="rviz" default="true"/>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen" args="-d $(find challenge_husky)/config/rviz_config.rviz" />

   <param name="use_sim_time" value="true"/>
  <arg name="scan_topic" default="scan" />
  
  <!--- Run gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam file="$(find challenge_husky)/param/gmapping.yaml"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>


<!--- Run Move Base -->
  <include file="$(find challenge_husky)/launch/custom_move_base.launch"/>


<!-- Run Nav2d -->
  <rosparam file="$(find challenge_husky)/param/ros.yaml"/>

  <node name="Operator" pkg="nav2d_operator" type="operator" >
		<remap from="scan" to="scan"/>
		<rosparam file="$(find challenge_husky)/param/operator.yaml"/>
		<rosparam file="$(find challenge_husky)/param/costmap.yaml" ns="local_map" />
        <remap from="cmd_vel" to="/cmd_vel_nav2d"/>
	</node> 

  <node name="Navigator" pkg="nav2d_navigator" type="navigator">
		<rosparam file="$(find challenge_husky)/param/navigator.yaml"/>
	</node>

  <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
  <node name="Explore" pkg="nav2d_navigator" type="explore_client" />
  <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" /> 


</launch>
