<?xml version="1.0" ?>
<model>
  <name>senai_cimatec</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
      <name>Aziel Martins de Freitas Junior, Jean Paulo Silva and Pedro Paulo Ventura Tecchio </name>
      <email>aziel.freitas@fbter.org.br, jean.silva@fbter.org.br and pedro.tecchio@fbter.org.br</email>
  </author>
  <description>3D model of SENAI CIMATEC</description>
</model>