<?xml version="1.0" ?>
<launch>
  <!-- RViz -->
  <arg name="rviz" default="true"/>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find velodyne_description)/rviz/example.rviz" />
  
  <node pkg="pointcloud_to_laserscan"
    type="pointcloud_to_laserscan_node"
    name="pointcloud_to_laserscan_node"
    args="cloud_in:=/velodyne_points" />

</launch>
